@model List<MVC.Models.ProductModel>

<table cellpadding="0" cellspacing="0" class="table" id="CustomerGrid">
    <tr>
        <th>
            ProductID
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>View</th>
        <th>Download</th>
    </tr>
    @foreach (var item in Model)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.Price)
            </td>
            <td><a class="details" href="javascript:">View</a></td>
            <td>
                @Html.ActionLink("Download", "Download", new { item.FileName } )
            </td>
        </tr>


    }
</table>
